In [3]:
import pandas as pd
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [4]:
data = pd.read_csv("flights.csv")

In [5]:
data.shape

(499999, 31)

In [6]:
#remove the column Day of the week
data.drop('DAY_OF_WEEK', axis=1, inplace=True)
data.shape

(499999, 30)

In [7]:
#Rename the column WHEELS_OFF to HAS_WHEELS
data.rename(columns={'WHEELS_OFF': 'HAS_WHEELS'}, inplace=True)

In [28]:
data.describe()

,YEAR,MONTH,DAY,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,HAS_WHEELS,SCHEDULED_TIME,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,499999.0,499999.000000,499999.000000,499999.000000,499999.000000,483583.000000,483583.000000,483295.000000,483295.000000,499998.000000,...,499999.000000,482840.000000,482051.000000,499999.000000,499999.000000,102299.000000,102299.000000,102299.000000,102299.000000,102299.000000
mean,2015.0,1.060062,14.995448,2263.471527,1323.041714,1332.958619,10.122676,16.487882,1356.719161,140.254811,...,1506.507117,1493.392088,6.229602,0.002248,0.033648,13.476202,0.067635,17.999814,22.902130,3.321225
std,0.0,0.237602,9.320105,1803.531063,468.226070,479.872733,37.720260,9.671999,479.845899,74.854061,...,483.437265,503.046868,40.494675,0.047360,0.180322,25.461451,2.027208,45.863346,41.711079,21.899448
min,2015.0,1.000000,1.000000,1.000000,5.000000,1.000000,-48.000000,1.000000,1.000000,23.000000,...,1.000000,1.000000,-82.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2015.0,1.000000,7.000000,759.000000,925.000000,930.000000,-5.000000,11.000000,946.000000,85.000000,...,1124.000000,1117.000000,-13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2015.0,1.000000,15.000000,1732.000000,1320.000000,1328.000000,-1.000000,14.000000,1342.000000,122.000000,...,1525.000000,1522.000000,-4.000000,0.000000,0.000000,4.000000,0.000000,2.000000,4.000000,0.000000
75%,2015.0,1.000000,23.000000,3484.000000,1720.000000,1729.000000,9.000000,19.000000,1742.000000,173.000000,...,1914.000000,1915.000000,10.000000,0.000000,0.000000,18.000000,0.000000,18.000000,29.000000,0.000000
max,2015.0,2.000000,31.000000,9793.000000,2359.000000,2400.000000,1988.000000,177.000000,2400.000000,718.000000,...,2359.000000,2400.000000,1971.000000,1.000000,1.000000,830.000000,241.000000,1971.000000,948.000000,1116.000000

In [9]:
#slice the dataset into 4 equal chunks
df_split = np.array_split(data, 4)

In [10]:
#concatenate
data_new = pd.concat([df_split[0],df_split[1],df_split[2],df_split[3]])

data_new = data_new.reset_index(drop=True)

In [11]:
data_new.head(5)

,YEAR,MONTH,DAY,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,AS,98,N407AS,ANC,SEA,5,2354.0,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,AA,2336,N3KUAA,LAX,PBI,10,2.0,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,US,840,N171US,SFO,CLT,20,18.0,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,AA,258,N3HYAA,LAX,MIA,20,15.0,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,AS,135,N527AS,SEA,ANC,25,24.0,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#only for Airline AA
data_AA = data_new.loc[data_new['AIRLINE'] == 'AA']

In [13]:
data_AA['AIRLINE'].value_counts()

AA    46950
Name: AIRLINE, dtype: int64

In [14]:
#delay < 10, Destination = PBI
data_10_PBI = data_new[(data_new['DEPARTURE_DELAY']<10) & (data_new['DESTINATION_AIRPORT']=='PBI')]

In [15]:
data_10_PBI['DESTINATION_AIRPORT'].value_counts()

PBI    1805
Name: DESTINATION_AIRPORT, dtype: int64

In [16]:
#Impute AIR SYSTEM DELAY with mean
print(data_new['AIR_SYSTEM_DELAY'].isna().sum())
data_new['AIR_SYSTEM_DELAY'] = data_new['AIR_SYSTEM_DELAY'].fillna((data_new['AIR_SYSTEM_DELAY'].mean()))
print(data_new['AIR_SYSTEM_DELAY'].isna().sum())

397700
0

In [17]:
#indicator columns has_A
data_new['has_A'] = np.where(data_new['AIRLINE'].apply(lambda x: 'A' in x), 1, 0)

In [18]:
#random Sample of rows in DF
data_sample=data_new.sample(20)

In [19]:
#Min max for departure delay
data2=data_new
scaler = MinMaxScaler()

In [20]:
data2['DEPARTURE_DELAY'] = data2['DEPARTURE_DELAY'].fillna((data2['DEPARTURE_DELAY'].mean()))

In [21]:
data2[['DEPARTURE_DELAY']] = scaler.fit_transform(data2[['DEPARTURE_DELAY']])

In [22]:
data2.describe()

,YEAR,MONTH,DAY,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,HAS_WHEELS,SCHEDULED_TIME,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,has_A
count,499999.0,499999.000000,499999.000000,499999.000000,499999.000000,483583.000000,499999.000000,483295.000000,483295.000000,499998.000000,...,482840.000000,482051.000000,499999.000000,499999.000000,499999.000000,102299.000000,102299.000000,102299.000000,102299.000000,499999.000000
mean,2015.0,1.060062,14.995448,2263.471527,1323.041714,1332.958619,0.028547,16.487882,1356.719161,140.254811,...,1493.392088,6.229602,0.002248,0.033648,13.476202,0.067635,17.999814,22.902130,3.321225,0.217660
std,0.0,0.237602,9.320105,1803.531063,468.226070,479.872733,0.018220,9.671999,479.845899,74.854061,...,503.046868,40.494675,0.047360,0.180322,11.516820,2.027208,45.863346,41.711079,21.899448,0.412656
min,2015.0,1.000000,1.000000,1.000000,5.000000,1.000000,0.000000,1.000000,1.000000,23.000000,...,1.000000,-82.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2015.0,1.000000,7.000000,759.000000,925.000000,930.000000,0.021120,11.000000,946.000000,85.000000,...,1117.000000,-13.000000,0.000000,0.000000,13.476202,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2015.0,1.000000,15.000000,1732.000000,1320.000000,1328.000000,0.023084,14.000000,1342.000000,122.000000,...,1522.000000,-4.000000,0.000000,0.000000,13.476202,0.000000,2.000000,4.000000,0.000000,0.000000
75%,2015.0,1.000000,23.000000,3484.000000,1720.000000,1729.000000,0.028547,19.000000,1742.000000,173.000000,...,1915.000000,10.000000,0.000000,0.000000,13.476202,0.000000,18.000000,29.000000,0.000000,0.000000
max,2015.0,2.000000,31.000000,9793.000000,2359.000000,2400.000000,1.000000,177.000000,2400.000000,718.000000,...,2400.000000,1971.000000,1.000000,1.000000,830.000000,241.000000,1971.000000,948.000000,1116.000000,1.000000

In [23]:
data2.shape

(499999, 31)

In [24]:
#binarize Origin Airport
data3 = pd.get_dummies(data2['ORIGIN_AIRPORT'])
data3.columns

Index(['ABE', 'ABI', 'ABQ', 'ABR', 'ABY', 'ACT', 'ACV', 'ACY', 'ADK', 'ADQ',
       ...
       'TYR', 'TYS', 'UST', 'VEL', 'VLD', 'VPS', 'WRG', 'XNA', 'YAK', 'YUM'],
      dtype='object', length=313)

In [25]:
data4 = pd.concat([data2, data3], axis=1)

In [26]:
data4.shape

(499999, 344)

In [27]:
data4.to_csv('data_final.csv')